@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-size:;
  font-family: 'Poppins', sans-serif;
}

body{   
  height:100vh;
  box-sizing:border-box;

  display:grid;
  justify-items:center;
  align-items:center;
  /* padding: 50px; */
  
}

body  > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.bgContainer{ 
  width:100%;
  height:100vh;
  /* border:1px solid red; */
  box-sizing:border-box;
  z-index:-99;
  overflow:hidden;
  filter:blur(3px);
  /* transform:scale(1) */
}
.bgContainer img{
  /* display:none; */
  width:100%;
  height:100%;
}

section{
  width:80%;
  height:90%;
  /* border:1px solid black; */
  border-radius:20px;
  box-sizing:border-box;
  background:rgba(168, 215, 225, 0.4);
  color:#a72845;
  box-shadow:0px 1px 20px rgba(0,0,0,0.2);

  padding: 20px 0 20px 0;
  display:grid;
  justify-items:center;
  grid-template-rows: 0.5fr 0.2fr 1fr;
  /* align-items:center; */
}

.sec_gameOver{
  width:60%;
  height:60%;
}

section img {
  height: 200px;
  /* background:red; */
}

section p {
  align-self:flex-start;
  font-size:50px;
}

section button{
  align-self:flex-end;
  width: 300px;
  height : 55px;
  font-size:20px;
  color:#a72845;
  background:#9bd4bd;
  border:none;
  border-radius:8px;
  cursor:pointer;
}