*{
  margin: 0;
  padding: 0;
  font-size:;
  font-family: 'Poppins', sans-serif;
}

body{   
  height:100vh;

  display:grid;
  justify-content:center;
  align-content:center;
  /* padding: 50px; */
}

.bgContainer{
  height:100px;
}
bgContainer