
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  /* font-size:; */
  font-family: 'Poppins', sans-serif;
}

body{  
  background:blue;
  background-image: url('page/Background.png');
  background-repeat:no-repeat ;
  background-size:cover;
  height:100vh;

  display:grid;
  justify-content:center;
  align-content:center;
  /* padding: 50px; */
}


main{
  /* background:blue; */
  padding: 0 20px 0 0;
}
main p{
  font-size:30px;
  float:right;
}
section{ 
  /* border:1px solid black; */

  display:grid;
  grid-auto-flow:row;
  grid-template-columns : repeat(6, 70px) ; 
  grid-template-rows : repeat(6, 70px) ;
  grid-gap:5px;
  /* grid-gap:5px; */
}

section .box{
  /* width: 80px; */
  /* height:80px; */
  /* border:1px solid black; */
  border-radius:5px;
  /* background:white; */
  
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.box img {
  width: 100%;
  height: 100%;
}
.stop{
  justify-self:center;
  width: 100px;
  height:40px;
  border-radius:5px;
  border:none;
  cursor:pointer;

  margin-top:20px;
}




.rotate {
  transform: rotateY( 180deg ) ;
  /* transition: transform 0.5s; */
}
.rotate2 {
  transform: rotateY( -180deg ) ;
  /* transition: transform 0.5s; */
}

.flag {
  display:none
}